/* graph-container-grid */
.graph-container-grid {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    align-items: center; 
    padding: 1rem;
    background-color: #000000;
    grid-gap: 1rem;
    width: 100%;
    box-sizing: border-box;
    background-color: #e5e5f7;
    background-image: linear-gradient(0deg, #134d68 50%, #043146 50%);
    background-size: 10px 10px;

}

.makeyourown-container {
    background-color: rgb(6, 107, 138);
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    align-items: center; 
    /* centers elements vertically in 3 column layout*/
    padding: auto;
    /* padding: 3rem; */
    grid-gap: 1rem;
    width: 100%;
    box-sizing: border-box;
    background-color: #e5e5f7;
    background-image: linear-gradient(90deg, #134d68 50%, #005279 50%);
    background-size: 10px 10px;

}
.makeyourown-grid {
    display: grid;
}
/* MEDIA QUERIES  */

@media (min-width: 1400px) {
    .graph-container-grid {
        grid-template-columns: 1fr 1fr;
    }
    .makeyourown-grid {
        grid-template-columns: 1fr 1fr;
    }
}