/* graph-container-grid */
.graph-container-grid {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    align-items: center; 
    /* centers elements vertically in 3 column layout*/
    padding: auto;
    /* padding: 3rem; */
    background-color: #000000;
    grid-gap: 1rem;
    width: 100%;
    box-sizing: border-box
}

.makeyourown-container {
    background-color: rgb(7, 174, 225)
}

/* MEDIA QUERIES  */

@media (min-width: 1400px) {
    .graph-container-grid {
        grid-template-columns: 1fr 1fr;
    }
}